{% extends "base.html" %}
{% block content %}
	{%for x in title%}
		<h1>{{x['title']}}</h1>
	{%endfor%}
	{% if not edit %}
	    {%for pic in pics%}
	    	<a href="/pic?picid={{pic['picID']}}" id="pic_{{pic['picID']}}_link"><img src="/static/images/images/{{pic['picID']}}.jpg" style="width:210px;height:210px;"></a><br/>
	    {% endfor %}
	{% endif %}
    {% if edit %}
    	{%for pic in pics%}
    		<table>
	          <tr>
			    <td><a href="/pic?picid={{pic['picID']}}" id="pic_{{pic['picID']}}_link"><img src="/static/images/images/{{pic['picID']}}.jpg" style="width:210px;height:210px;"></a>
			    <td>
			    	<form action="/album/edit?albumid={{albumid}}" method='POST'>
			    		<input type="hidden" name="op" value="delete">
			    		<input type="hidden" name="picid" value="{{pic['picID']}}">
			    		<input type="hidden" name="albumid" value="{{albumid}}">
			    		<input type="submit" value="Delete" id="delete_pic_{{pic['picID']}}">
			    	</form>
			    </td>
			</table>
		{% endfor %}
		<table>
          <tr>
		    <td><b>Add a new photo</b></td>
		    <td>
		    	<form action="/album/edit?albumid={{albumid}}" method='POST'>
		    		<input type="hidden" name="op" value="add">
		    		<input type="hidden" name="albumid" value="{{albumid}}">
		    		<input type="file" name="file" id="file_input">
		    		<input type="submit" name="Submit" id="file_submit">
		    	</form>
		    </td>
		</table>
    {% endif %}
{% endblock %}