<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>

    <link rel="stylesheet" href="/static/css/style.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <title>EECS485</title>
</head>
<body>
  <div class="center">
  	{% block content %}

	  {%if session.logged_in %}
	    <h1>Logged in as {{firstname}} {{lastname}}</h1>
	    <a href={{url_for('main.test_route')}} id="nav_home">Nav Home</a><br>
	    <a href={{url_for('user.user_edit_route')}} id='nav_edit')>Edit Account</a><br>
	    <a href={{url_for('albums.albums_route')}} id="nav_albums">My Albums</a><br>
	      <form id="nav_logout">
	        <input type="submit" value="Logout" id="nav_logout">
	      </form>
	  {%endif%}


  	{% endblock %}
  </div>

  <script type="text/javascript" src="/static/js/main.js"></script>

</body>

</html>