{% extends "base.html" %}
{% block content %}

	<meta name="description" content="Photo Album">
	<meta name="author" content="Ryan Pifer">

    <title>Photo Album</title>


    <p class="left">
      	<h1>Welcome to our Photo Album!</h1>

      {%if not session.logged_in%}

        <a href={{url_for('user.user_route')}} id="home_user_create">Create Account</a><br>
        <a href= {{url_for('log.login_route')}} id="home_login">Log in</a><br>

        {%for user in users%}
          <a href={{url_for('albums.albums_route', username=user['username'])}}>{{user['username']}}</a><br>
        {%endfor%}
      {%endif%}

  		{% for album in albums %}
      <body>
			 <h3><a href={{url_for('album.album_route', albumid=album['albumid'])}} id="album_{{album['albumid']}}_link">{{album['title']}}</a></h3>
      </body>
  		{% endfor %}

      	<footer>Authored: Ryan Pifer, Semptember 2016</footer>
    </p>
{% endblock %}