{% extends "base.html" %}
{% block content %}
	<p class="center">
		{% for error in message%}
			<p class="error">
  				{{error}}
			</p>
		{%endfor%}
		<h1>Log In</h1><br>
		<form id="submitLogin">
			Username:
			<input type="text" name="username" value="" id="login_username_input"><br>
			Password:
			<input type="password" name="password" value="" id="login_password_input"><br>
			<input type="submit" value="Submit" id="login_submit">
		</form>
	</p>

	 <script type="text/javascript" src="/static/js/log.js"></script>

{% endblock %}