{% extends "base.html" %}
{% block content %}
    <h1>PIC</h1>
    <img src="/static/images/images/{{picid}}.{{format}}" style="width:420px;height:420px;"><br/>
    {%if not isFirst%}
    	<a href={{url_for('pic.pic_route', picid=previd)}} id="prev_pic">Previous&nbsp;</a>
    {%endif%}

	<a href={{url_for('album.album_route', albumid=albumid)}} id="parent_album">Return to Album&nbsp;</a>

    {%if not isLast%}
    	<a href={{url_for('pic.pic_route', picid=nextid)}} id="next_pic">Next</a>
    {%endif%}


{% endblock %}