{% extends "base.html" %}
{% block content %}

	<meta name="author" content="Ryan Pifer">

  {%if session.logged_in %}
    <h1>Logged in as {{firstname}} {{lastname}}</h1>
    <a href={{url_for('main.test_route')}} id="nav_home">Nav Home</a><br>
    <a href={{url_for('user.user_edit_route')}} id='nav_edit')>Edit Account</a><br>
    <a href={{url_for('albums.albums_route')}} id="nav_albums">My Albums</a><br>
      <form id="nav_logout">
        <input type="submit" value="Logout" id="nav_logout">
      </form>
  {%endif%}

  {%for error in message%}
    <p class="error">
      {{error}}
    </p>
  {%endfor%}

  {%if not session.logged_in %}
    <p class="center">
      	<h1>Create an Account</h1><br>
          <p>
  		      <form id="createUser">
              Username:<br>
             <input type="text" name="username" value="" id="new_username_input"><br>
             First Name:<br>
              <input type="text" name="firstname" value="" id="new_firstname_input"><br>
              Last Name:<br>
              <input type="text" name="lastname" value="" id="new_lastname_input"><br>
              Password:<br>
              <input type="password" name="password1" value="" id="new_password1_input"><br>
              Re-enter Password:<br>
              <input type="password" name="password2" value="" id="new_password2_input"><br>
              Email:<br>
              <input type="text" name="email" value="" id="new_email_input"><br>
              <input type="submit" value="Submit" id="new_submit"><br>
            </form>
          </p>
    {%endif%}

    {% if session.logged_in %}
      <h1>Edit Account Information</h1><br>
        <p>
          Change First Name
          <form id="updateUser">
            <input type="text" name="firstname" value="" id="update_firstname_input">
          Change Last Name
            <input type="text" name="lastname" value="" id="update_lastname_input">
          Change Password
            <input type="password" name="password1" value="" id="update_password1_input"><br>
          Re-type Password<br>
            <input type="password" name="password2" value="" id="update_password2_input">
          Change E-mail
            <input type="text" name="email" value="" id="update_email_input">
            <input type="submit" value="Submit" id="update_submit">
          </form>
    {%endif%}


      	<footer>Authored: Ryan Pifer, Semptember 2016</footer>
    </p>
{% endblock %}

<script type="text/javascript" src="/static/js/user.js"></script>